/* custom.scss generado a partir de index.css */
@import "../node_modules/bootstrap/scss/bootstrap";

// Una vez que removamos bg-body-tertiary del HTML, usaremos esto:
.navbar {
    background-color: #1B4D3E;
    
    .navbar-brand {
        color: #fff;
        
        &:hover, &:focus {
            color: #e9ecef;
        }
    }
    
    .nav-link {
        color: rgba(255, 255, 255, 0.85);
        
        &:hover, &:focus {
            color: #fff;
        }
        
        &.active {
            color: #fff;
        }
    }

    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.5);
        
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
}

.carousel {
	width: 100%;
	height: 500px;
	background-color: #f8f9fa;
	overflow: hidden;
}

.carousel-inner {
	height: 100%;
}

.carousel-item {
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #f8f9fa;
}

.carousel-item img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Ajustes específicos para cada imagen */
.carousel-img-1 {
	object-position: center 50%; /* Ajusta la posición vertical para centrar las caras */
}

.carousel-img-2 {
	object-position: center 10%; /* Ajusta la posición vertical para centrar las caras */
}

.carousel-img-3 {
	object-position: center 20%; /* Ajusta la posición vertical para centrar las caras */
}

.imgrubik{
	max-width: 40px;
	height: auto;
}

.tituloCarrousel{
	background-color: rgba(30, 95, 5, 0.5);
	color: rgb(255, 255, 255);
	border-radius: 5px;
}
